<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/Style.css}">
<head>
    <title>Recipe Details</title>
</head>
<body>
    <div class="TopBanner">
        <p><a th:href="@{/login}">Login</a></p>
        <p style="font-size:larger;"><a th:href="@{/home}">Recipe Book</a></p>
        <p style="margin-right: 30%;"><a th:href="@{/register}">Register</a></p>
        <p><a th:href="@{/profile}">Your Profile</a></p>

    </div>
    <h2 th:text="${recipe.name}">Recipe Name</h2>

    <p style="text-align:center; font-style:italic; color: #a7556a" >Added by: 
        <span th:text="${recipe.user != null ? recipe.user.username : 'Unknown'}">Username</span>
    </p> <!-- Show added user -->

    <h1>Ingredients</h1>
    
        <ol class="stepsAndIngredients">
            <th:block th:each="ingredient : ${recipe.ingredients}">
                <li th:text="${ingredient}">Ingredient</li>
            </th:block>
        </ol>
  

    <h1>Steps</h1>
    <ol class="stepsAndIngredients">
        <th:block th:each="step : ${recipe.steps}">
            <li th:text="${step}">Step</li>
        </th:block>
    </ol>
    <h1>Average Rating: <span th:text="${recipe.averageRating}">0</span></h1>

    <form th:action="@{/recipe/{id}/rate(id=${recipe.id})}" method="post" style="text-align:center; font-style:italic; color: #a7556a">
        <label for="rating">Rate this recipe:</label>
        <input type="number" id="rating" name="rating" min="1" max="5" required/>
        <div class="addButton" style="align-items: center; display: flex; flex-direction: column;">
        <button type="submit">Submit Rating</button>
    </div>
    </form>


    <div class="bottom"></div>
</body>
</html>
